body {
    background-color: #2C2F33;
    font-family: "Roboto";
    color: rgba(167,164,164,0.86);
}

#header {
    position: absolute;
    background-color: #7289DA;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    box-shadow: 3px 1px 0px #23272A;
}

.hd {
    display: block;
    width: 250px;
    color: white;
    margin-top: 15px;
}

.heading {
    font-size: 20px;
    margin-left: 20px;
    float: left;
}

.header-link {
    float: left;
    margin-top: 17px;
    color: rgba(230,225,225,0.86);
    width: 100px;
}

a {
    text-decoration: none;
}

#wrapper {
    margin-top: 100px;
    margin-left: 25px;
    width: 80%;
}

.nlink {
    text-decoration: underline;
    color: rgba(167,164,164,0.86);
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

#endpoints {
    margin-top: 100px;
}

th, td {
    width: 125px;
}

table {
    border: 1px solid white;
    color: white;
}

.http-method-span {
	color: black;
	background-color: #e74c3c;
	border-radius: 5px;
	padding: 3px;
	margin-left: 5px;
}
